/*get-table технические стили*/
.ace_editor {
    font: 12px/normal 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
} 
.db{
    display: block;
}
.inb{
    display: inline-block;
}
.rL{
    position: relative;
}
.abs{
    position: absolute;
}
.hid{
    overflow: hidden;
}
/*get-table subtable во всю страницу*/
.in_all_page{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    background: white;
    overflow-y: auto;
}
/*get-table тень вокруг subtable*/
.get-sub-content .table{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}
.table td:focus, .table td:active{
    outline: 0;
}
/*отмена выделения кнопки при активности или при фокусе*/
.gts-selection-enabled .btn:focus, .gts-selection-enabled .btn:active{
    outline: 0;
    border: 0;
}
.table .th{
    border: 1px solid 
}
.table>thead>tr>th{
    border: 1px solid transparent;
}
/*выравниваю кнопку крестик шапке модалки*/
.modal-header{
    position: relative;
}
.modal-header .close{
    right: 15px;
    transform: translateY(-7px);
}
/*get-table выпадающее меню у select autocomplect*/
.get-autocomplect .get-autocomplect-menu{
    top: unset;
    left: unset;
    max-height:400px;
    min-height:50px;
    overflow-y: auto;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    max-height: 150px;
}
/*get-table id у select autocomplect*/
/* .get-autocomplect .input-group-addon{
    width:20%;
    padding: 0;
}
.get-autocomplect .get-autocomplect-id{
    width:100%;
    height: 30px;
    padding: 0;
} */
/*end get-table технические стили*/

/*get-table v-style от Валентина*/

.get-table .navbar-collapse .btn-primary { 
    position: relative;
    top: 7px;
    right: 10px;
}
.get-table .navbar { 
     margin-bottom: 0px;  
}
.get-table .breadcrumb{
    margin-bottom: 0px;
}
.get-table .gts-config{
    padding: 10px 10px;
    margin-bottom: 10px;
}

.get-table .row{
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.get-table .get-table-topline-first{
    margin: 0;
    padding: 0;
    width: auto;
}
.get-table .get-table-topline-multiple{
    margin: 0;
    padding: 0;
    margin-left: 15px;
}
.get-table .get-table-topline-filters{ 
}
.get-table .get-table-topline-filters .row{
    padding-right: 0px;
    padding-left: 0px;
}
.get-table .get-table-topline-filters > .row > .col-md-3 {
    padding: 0;
}
.get-table .get-table-topline-filters  .form-group{
/*    padding: 0;*/
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    vertical-align: top;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.get-table .gts-form > .row{
    margin-bottom: 30px;
}
.get-table .pull-right{
    line-height: 30px;
}
.get-table .form-inline{
    padding: 3px 0px;
}
/*таблица*/
/*.get-table .table {
    width: 100%;
    max-width: 100%;
     margin-bottom: 0px; 
}*/
.get-table .table tr td[data-name="checkbox"],
.get-table .table tr td[data-name="id"]{
    padding: 0 5px;
}
.get-table .table tr td[data-name="sum_closed"]{
    text-align: center;
}
.get-table .table thead tr{
    background-color: #e6e6e6;
}
.get-table .table thead tr th{
    text-align: center;
    position: relative;
}

.get-table .table>tbody>.get-table-tr>td, .get-table .table>tbody>.get-table-tr>th, .get-table .table>tfoot>.get-table-tr>td, .get-table .table>tfoot>.get-table-tr>th, .get-table .table>thead>.get-table-tr>td, .get-table .table>thead>.get-table-tr>th {
/*    padding: 0px 5px;*/
    padding: 4px; 
    line-height: 1.42857143; 
/*    border-top: 1px solid #ddd;*/
/*    border-left: 1px solid #ddd;*/
    border: 1px solid #ddd;
    vertical-align: middle;
}
.get-autocomplect-id:focus, .get-autocomplect-id:active{
    border: 0;
    outline: 0;
}
.get-table-tr { 
    text-align: center;
    vertical-align: center;
}
.get-table-tr .form-control{
    box-shadow: none;
    height: 30px;
    border: 0;
    background-color: transparent;
    
}
.get-table .table .form-group {
    margin-bottom: 0; 
/*    display: inline-block;*/
    display: block;
    position: relative;
}
.get-table .table .form-group .input-group .input-group-addon{
    background: transparent;
    border: none;
}
.table>tbody>tr.hit>td,
.table>tbody>tr.hit>th,
.table>tbody>tr>td.hit, 
.table>tbody>tr>th.hit,
.table>tfoot>tr.hit>td,
.table>tfoot>tr.hit>th, 
.table>tfoot>tr>td.hit, 
.table>tfoot>tr>th.hit, 
.table>thead>tr.hit>td, 
.table>thead>tr.hit>th, 
.table>thead>tr>td.hit, 
.table>thead>tr>th.hit { 
    background-color: #60cc2fe6;
}
.table>tbody>tr.attention>td, 
.table>tbody>tr.attention>th, 
.table>tbody>tr>td.attention, 
.table>tbody>tr>th.attention,
.table>tfoot>tr.attention>td, 
.table>tfoot>tr.attention>th, 
.table>tfoot>tr>td.attention,
.table>tfoot>tr>th.attention,
.table>thead>tr.attention>td,
.table>thead>tr.attention>th,
.table>thead>tr>td.attention,
.table>thead>tr>th.attention {
    background-color: rgba(252, 3, 3, 0.8);
}

.get-table .table select.get-table-autosave{
    cursor: pointer;
}

.get-table .table .form-group .input-group .input-group-addon input[type="number"]{
    background-color: transparent;
    border: none;
    text-align: center;
} 

.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all{
    background-color: rgba(99, 229, 44, 0.0);
    transition: background-color 0.3s;
}
.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all:hover{
    background-color: #cec9c9
}

.get-table .table .attention .form-group .input-group .input-group-btn .get-autocomplect-all:hover{
     background-color: rgb(222, 50, 50); 
}
.get-table .table .hit .form-group .input-group .input-group-btn .get-autocomplect-all:hover{
     background-color: rgba(66, 190, 14, 0.9); 
}




.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all:active,
.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all:focus{
    border: 0;
    outline: none;
    box-shadow: none;
}
/*end get-table v-style от Валентина*/

.ui-datepicker{
    z-index: 100 !important;
}

/*стилизация элементов формы*/

/* НАЧАЛО стилизация input type="number"*/
/* Для Chrome убираю стрелочки  */
.input-number__box input[type=number]::-webkit-inner-spin-button,
.input-number__box input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    text-align: center;
    border: 0;
    outline: 0}
/* Для Firefox убираю стрелочки */
.input-number__box input[type=number]{
  -moz-appearance: textfield;
    text-align: center;
    border: 0;
    outline: 0
}
.input-group-addon {
    background-color: transparent;
}
.input-number__box{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding-right: 15px;
    min-width: 45px;
}
.input-number__box .arr-btn{
    position: absolute;
    height: 50%;
    width: 10px;
    right: 0;
    background: none;
    border: 0;
    outline: 0;
}
.input-number__box .arr-btn::before{
    content: '';
    position: absolute; 
    width: 7px;
    height: 7px;
    box-sizing: border-box;
    border-top: 2px solid #555555;
    border-left: 2px solid #555555;
    top: 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
    transition: all 200ms ease;
}
.input-number__box .arr-btn__top{
    top: 0;
}
.input-number__box .arr-btn__top::before{ 
    transform: rotate(45deg) translateX(-50%); 
    left: 5px;
    top: 10px;
}
.input-number__box .arr-btn:hover::before{
    opacity: 1;
}

.input-number__box .arr-btn__bottom{
    bottom: 0;
}
.input-number__box .arr-btn__bottom::before{
    transform: rotate(45deg) translateX(-50%) scale(-1);
    top: 2px;
    left: 5px;
}

}
/* КОНЕЦ стилизация input type="number"*/

/*НАЧАЛО стилизация кнопку у select*/
div.select-box{
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.select-box select{
    box-sizing: border-box;
    padding-right: 25px;
    float: none !important;
}
.select-box select option{
    cursor: pointer;
}
.select-box .select-btn{
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 893%;
    background-color: #cccccc;
    z-index: 10;
    pointer-events: none;
    transform: translateY(-50%);
}
.select-box .select-btn::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(-45deg) translateX(-50%) translateY(-50%);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    pointer-events: none;
    margin-top: -1px;
}

/*КОНЕЦ стилизация кнопку у select*/
/*НАЧАЛО фильтр в заголовках таблицы*/
.table th{
    position: relative;
    box-sizing: border-box;
    padding-right: 20px !important;
    vertical-align: middle !important;
}
.table th:first-child .filtr-btn,
.table th:last-child .filtr-btn,
.table th:first-child .filrt-window,
.table th:last-child .filrt-window,
.table th.no-filter{
    display: none;
}

.table th:first-child, .table th:last-child{
    padding-right: 8px !important;
}
.table th .filtr-btn{
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid #000; 
}
.table th .filtr-btn.filter{
    background-image: url(../img/filter.svg)
}
.table th .filtr-btn.filter-sort-up{
    background-image: url(../img/filter-sort-up.svg)
}
.table th .filtr-btn.filter-active{
    background-image: url(../img/filter-active.svg)
}
.table th .filtr-btn.filter-sort-down{
    background-image: url(../img/filter-sort-down.svg)
}
.table th .filrt-window{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15); 
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    transform-origin: center top;
    transform: scaleY(0);
    transition: all 200ms ease;
    z-index: 100;
}
.table th .filrt-window.filrt-window__open{
    transform: scaleY(1);
}
/*НАЧАЛО фильтр в заголовках таблицы*/