/*get-table технические стили*/
.ace_editor {
    font: 12px/normal 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}
.get-tables-tabs .tab-content{
    background: #fff;
    padding: 17px;
}
 
/*get-table subtable во всю страницу*/
.in_all_page{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    background: white;
    overflow-y: auto;
}
/*get-table тень вокруг subtable*/
.get-sub-content .table{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}
/*get-table выпадающее меню у select autocomplect*/
.get-autocomplect .get-autocomplect-menu{
    top: unset;
    left: unset;
    max-height:400px;
    min-height:50px;
    overflow-y: scroll; 
    width: 100%
}
/*get-table id у select autocomplect*/
/* .get-autocomplect .input-group-addon{
    width:20%;
    padding: 0;
}
.get-autocomplect .get-autocomplect-id{
    width:100%;
    height: 30px;
    padding: 0;
} */
/*end get-table технические стили*/

/*get-table v-style от Валентина*/

.get-table .navbar-collapse .btn-primary { 
    position: relative;
    top: 7px;
    right: 10px;
}
.get-table .navbar { 
     margin-bottom: 0px;  
}
.get-table .breadcrumb{
    margin-bottom: 0px;
}
.get-table .gts-config{
    padding: 10px 10px;
    margin-bottom: 10px;
}

.get-table .row{
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.get-table .get-table-topline-first{
    margin: 0;
    padding: 0;
    width: auto;
}
.get-table .get-table-topline-multiple{
    margin: 0;
    padding: 0;
    margin-left: 15px;
}
.get-table .get-table-topline-filters{ 
}
.get-table .get-table-topline-filters .row{
    padding-right: 0px;
    padding-left: 0px;
}
.get-table .get-table-topline-filters > .row > .col-md-3 {
    padding: 0;
}
.get-table .get-table-topline-filters  .form-group{
/*    padding: 0;*/
}
.input-group .form-control, .input-group-addon, .input-group-btn {
 
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.get-table .gts-form > .row{
    margin-bottom: 30px;
}
.get-table .pull-right{
    line-height: 30px;
}
.get-table .form-inline{
    padding: 3px 0px;
}
/*таблица*/
/*.get-table .table {
    width: 100%;
    max-width: 100%;
     margin-bottom: 0px; 
}*/
.get-table .table tr td[data-name="checkbox"],
.get-table .table tr td[data-name="id"]{
    padding: 0 5px;
}
.get-table .table tr td[data-name="sum_closed"]{
    text-align: center;
}
.get-table .table thead tr{
    background-color: #e6e6e6;
}
.get-table .table thead tr th{
    text-align: center;
}
.get-table .table>tbody>.get-table-tr>td, .get-table .table>tbody>.get-table-tr>th, .get-table .table>tfoot>.get-table-tr>td, .get-table .table>tfoot>.get-table-tr>th, .get-table .table>thead>.get-table-tr>td, .get-table .table>thead>.get-table-tr>th {
/*    padding: 0px 5px;*/
    padding: 0;
    line-height: 1.42857143; 
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: middle;
}
.get-table-tr .form-control{
    box-shadow: none;
    border: 0;
    background-color: transparent;
}
.get-table .table .form-group {
    position: relative;
    margin-bottom: 0; 
/*    display: inline-block;*/
    display: block;
}
.get-table .table .form-group .input-group .input-group-addon{
    background: transparent;
    border: none;
}
.table>tbody>tr.hit>td,
.table>tbody>tr.hit>th,
.table>tbody>tr>td.hit, 
.table>tbody>tr>th.hit,
.table>tfoot>tr.hit>td,
.table>tfoot>tr.hit>th, 
.table>tfoot>tr>td.hit, 
.table>tfoot>tr>th.hit, 
.table>thead>tr.hit>td, 
.table>thead>tr.hit>th, 
.table>thead>tr>td.hit, 
.table>thead>tr>th.hit { 
    background-color: #60cc2fe6;
}
.table>tbody>tr.attention>td, 
.table>tbody>tr.attention>th, 
.table>tbody>tr>td.attention, 
.table>tbody>tr>th.attention,
.table>tfoot>tr.attention>td, 
.table>tfoot>tr.attention>th, 
.table>tfoot>tr>td.attention,
.table>tfoot>tr>th.attention,
.table>thead>tr.attention>td,
.table>thead>tr.attention>th,
.table>thead>tr>td.attention,
.table>thead>tr>th.attention {
    background-color: rgba(252, 3, 3, 0.8);
}

.get-table .table select.get-table-autosave{
    cursor: pointer;
}

.get-table .table .form-group .input-group .input-group-addon input[type="number"]{
    background-color: transparent;
    border: none;
    text-align: center;
} 

.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all{
    background-color: rgba(99, 229, 44, 0.0);
    transition: background-color 0.3s;
}
.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all:hover{
    background-color: #cec9c9
}

.get-table .table .attention .form-group .input-group .input-group-btn .get-autocomplect-all:hover{
     background-color: rgb(222, 50, 50); 
}
.get-table .table .hit .form-group .input-group .input-group-btn .get-autocomplect-all:hover{
     background-color: rgba(66, 190, 14, 0.9); 
}




.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all:active,
.get-table .table .form-group .input-group .input-group-btn .get-autocomplect-all:focus{
    border: 0;
    outline: none;
    box-shadow: none;
}

/*устанавливаю цвет фона gettable в админке*/
#gettables-panel-home-div{
    background-color: #fff;
    padding: 1rem;
}

/*end get-table v-style от Валентина*/